<?xml version="1.0"?>
<launch>
	<!-- Our node to control the drone -->
	<node pkg="offboard_py" type="challenge_task_3.py" name="rob498_drone_05" required="true" output="screen" />

    <!--Subscriber node-->
    <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" />

    <!-- Argument for device id -->
    <arg name="leftcam" value="0"/>
    <arg name="rightcam" value="1"/>
    
    <!-- Publisher node -->
    <node pkg="stack" type="camera_republisher.py" name="camera">
        <remap from="undistort/left/image_raw" to="stereo/left/image_raw"/>
        <remap from="undistort/right/image_raw" to="stereo/right/image_raw"/>
        <!-- <remap from="camera/fisheye1/camera_info" to="stereo/left/camera_info"/>
        <remap from="camera/fisheye2/camera_info" to="stereo/right/camera_info"/> -->
    </node>
</launch>
